TG_API_ID=
TG_API_HASH=
TG_PHONE=
TG_BOT_TOKEN=
TG_TARGET_CHAT_ID=
SOURCE_CHANNEL=@example_channel
SOURCE_CHANNELS=@bbe_jobs,@designwork_vacansii,@young_relocate,@workinart,@designbirzha,@digital_rabota,@wntddesign,@vakansii_dizaynerov,@designhunters,@mirkreatorovjob,@mnogovakansiy,@designoffers
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
TELETHON_SESSION_NAME=telegram_session
FETCH_LIMIT=30
